body{
    margin: 0;
    font-family: 'Gamja Flower';
}

#name{
    background-color: grey;
    text-align: center;
}

#tagLine{
    background-color: grey;
    text-align: left;
}

#topMenu {
    overflow: hidden;
    background-color: cornflowerblue;
}

#topMenu a{
    float: left;
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

#topMenu a:hover {
    background-color: #dddddd;
    color: #ffff99;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #today{
    padding-top: 60px;
}