* {
    margin:0;
}

body{
    color:#ffffff;
    background-color: black; 
    text-align: center;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

#name{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter; 
    font-size: 17px;
    height: 44px;
    background-color: #181818;
    text-align: left;
    z-index: -1;
}
.guide{
    padding-left: 0;
    list-style: none;
    display:inline;

}

.guide>a:hover{
    color: #666666;
}

#tagline{
}
